h4,h3,h1,h2,h5,a,p,h6{
  color: white;
}
a:hover{
  color: yellow;
}

.dashboard-section{
  background-color:#1E365C;
  margin:5px
}

.pill-ul{
  background-color: white;
  margin-top:15px;
  border-radius: 5px;
  padding: 5px;
  color:#205E85;
}

.api-img{
  max-width: 100%;
  max-height: 100%;
  display:block;
  margin:auto;
}

.background_color{
  background-color:#205E85
}
.book-place{
  height:30vh;
  background: rgba(128,0,128, 0.1);
}
.book-page-img{

  height:40vh;
}
.center-txt{
  text-align: center;
}
.left-col{
  background-color:#161745;
  margin:5px
}
.btn-color{
  background-color:#83C622;
}
