<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Book Nerd</title>
  </head>
  <body style="background-color:#0D83DD">
    <div class="container-fluid row">
        <!-- left column containing the user info -->
        <div class="row  col-md-3">
            <h3 class="offset-md-2 col-md-8">Dashboard</h3>
            <div class="offset-md-2 col-md-8" style="background-color:white;height:30vh">image goes here</div>
            <h5 class="offset-md-4 col-md-7 " >Name</h5>
            <p class="offset-md-4">Username</p>
        </div>

        <!-- right column containing the books and their category -->
        <div class="row col-md-9">
            <div class="col-md-12">
              <h1>Your Books</h1>
              <!-- books that were reviewed -->
              <div class="row ">
                  <h2 class="col-md-12" > <a href="#">Books Reviewed</a> </h2>
                  {% include 'book_reviewed.html' %}
              </div>

              <!-- books in reading list -->
              <div class="row">
                  <h2 class="col-md-12" ><a href="#">Reading List</a> </h2>
                  {% include 'reading_list.html' %}
              </div>

              <!-- browse section -->
              <div class="row">
                <h2 class="col-md-12" style=> <a href="#">Browse</a> </h2>
                {% include 'browse.html' %}
              </div>


            </div>





        </div>

    </div>
  </body>
</html>
