<!DOCTYPE html>
<html lang="en" dir="ltr">
    {% include 'head.html' %}
  <body class="background_color">
    {% include 'navbar.html' %}

    <div class="container-fluid row ">

        <!-- left column containing the user info -->
        <div class="row col-md-3 left-col">
          <div class="col-sm-9" style="text-align:center;position:absolute" >
            <h2 class="">{{data['user_info'][3]}}</h2>
            <img class="img-fluid" src="{{url_for('static', filename='images/user-placeholder.jpg')}}" />
            <p>{{data['user_info'][1]}}</p>
            <ul  class="nav nav-pills nav-stacked pill-ul col-sm-12" style="position:absolute">
            </ul>
          </div>
        </div>

        <!-- right column containing the books and their category -->
        <div class="row col-md-9">
              <h1>Your Books</h1>
              <!-- books that were reviewed -->
              <div class="row dashboard-section col-md-12">
                  <h2 class="col-md-12" > <a href="#">Books Reviewed</a> </h2>
                  {% include 'dashboard_section/book_reviewed.html' %}
              </div>
              <!-- books in reading list -->
              <div class="row dashboard-section col-md-12" >
                  <h2 class="col-md-12"  ><a href="#">Reading List</a> </h2>
                  {% include 'dashboard_section/reading_list.html' %}
              </div>
              <!-- browse section -->
              <div class="row dashboard-section col-md-12" >
                <h2 class="col-md-12"   style=>
                   <a href="{{url_for('browse')}}">Browse</a>
                </h2>
                {% include 'dashboard_section/browse.html' %}
              </div>
        </div>

    </div>
  </body>
</html>
