{% extends "login_registration_layout.html" %}
{% block heading %}Log into your account {% endblock%}


{% block username_field %}
  <label class="" for="user_name"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="user_name" required>
{% endblock%}

{% block password_field %}
  <label class="" for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password" required>
{% endblock%}

{% block button_field %}
  <button style="background-color:#83C622;" class="btn btn-primary btn-lg offset-1" type="submit">Login</button>
{% endblock%}

{% block additional_field %}
  <div>
    <a class="text-white" href="{{url_for('create_account')}}">create an account</a>
  </div>
{% endblock%}
